<div class="course-page">
  <form class="course-page-form">
    <label>
      Title
      <input type="text" name="title" [value]="course.title" />
    </label>
    <label>
      Description
      <textarea name="description">{{course.description}}</textarea>
    </label>
    <label>
      Date
      <input type="text" name="date" [value]="course.creationDate"/>
    </label>
    <label>
      Duration
      <input type="number" name="duration" [value]='course.duration'/>
    </label>
    <label>
      Authors
    </label>
    <div class="course-page-form-control">
      <button class="course-page-form-control-cancel">Cancel</button>
      <button class="course-page-from-control-save">Save</button>
    </div>
  </form>
</div>
