@import '../../style/button'
  
.header
  height: 100%
  display: flex
  justify-content: space-between
  align-items: center
  &-logo
    width: 3em
  &-auth-user
    display: inline-block
    margin: 0 20px

button
  @extend %button-style
