<div class="course">
  <div class='course-content'>
    <div class="course-content-title">{{course.title}}</div>
    <div class="course-content-duration">{{course.duration}}</div>
    <div class="course-content-date">{{course.creationDate}}</div>
    <div class="course-content-description">{{course.description}}</div>
  </div>
  <div class='course-control'>
    <button class='course-control-update' (click)="updateHandler()">Edit</button>
    <button class='course-control-remove' (click)="removeHandler()">Delete</button>
  </div>
</div>
