<div class="course-page">
  <div *ngIf="course; then formBlock; else loadingBlock"></div>
  <ng-template #formBlock>
    <app-breadcrumbs>
      <a routerLink='courses' routerLinkActive="active">Courses</a>
      /{{ course.title }}
    </app-breadcrumbs>
    <app-course-form
      [newCourse]="course"
      [saveAction]="saveAction"
      [cancelAction]="cancelAction">
    </app-course-form>
  </ng-template>
  <ng-template #loadingBlock>
    <div class="course-page-loading">Loading...</div>
  </ng-template>
</div>
