<div>
  <header>
    <div>Logo</div>
    <div>User:<span>Some user</span></div>
    <button>Log off</button>
  </header>
  <main>
    <section>Courses</section>
    <section>
      <input type="text"/>
      <button>Search</button>
      <button>Add course</button>
    </section>
    <section>
      <div>
        <div>Title</div>
        <div>Duration</div>
        <div>Create date</div>
        <div>Description</div>
        <button>Edit</button>
        <button>Delete</button>
      </div>
    </section>
    <button>Load More</button>
  </main>
  <footer>Copyright Videocurses, All Rights Reserved</footer>
</div>

<router-outlet></router-outlet>
