<div class="app">
  <app-header></app-header>
  <main class="page">
    <section>Courses</section>
    <section>
      <input type="text"/>
      <button>Search</button>
      <button>Add course</button>
    </section>
    <section>
      <div>
        <div>Title</div>
        <div>Duration</div>
        <div>Create date</div>
        <div>Description</div>
        <button>Edit</button>
        <button>Delete</button>
      </div>
    </section>
    <button>Load More</button>
  </main>
  <app-footer></app-footer>
</div>

<router-outlet></router-outlet>
