<div class="app">
  <header>
    <app-header></app-header>
  </header>
  <main class="page">
    <app-breadcrumbs></app-breadcrumbs>
    <section class="page-search">
      <app-search></app-search>
      <app-new-course></app-new-course>
    </section>
    <section>
      <div class="course">
        <div>Title</div>
        <div>Duration</div>
        <div>Create date</div>
        <div>Description</div>
        <button>Edit</button>
        <button>Delete</button>
      </div>
    </section>
    <button class='load-more'>Load More</button>
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>

<router-outlet></router-outlet>
