@import '../../../style/button'
@import '../../../style/forms'

.course-form
  textarea
    @extend %error-control
    width: 95%
    height: 5rem
  input
    @extend %error-control
    width: 50%
  label
    margin-top: 1rem
    display: block

.course-form-control
  margin: 1rem
  
.error
  @extend %error-message

button
  @extend %button-style
  margin-right: 1rem
